/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
	background-image: url(http://i.imgur.com/zdfgVgK.jpg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;

}
h1{
  font-family: 'Roboto', sans-serif;
}
h2{
  text-align: center;
  color: black;
}
h8{
  font-size: 20px;
}
#hidebutton{
  display: none;
  position: absolute;
}
.#newbutton{
  text-align: center;
}
.card-size{
  width: 400px;
  height: 500px;
}
.image{
  width: 300px;
  height: 400px;
}
.button-pad{
  padding: 20px;
  /*margin-left: 50px;*/
}
.login-container{
  text-align: center;
  width: 50%;
  float: center;
  margin-left: 25%;
  background-color: #fff;
  border: 2px solid;
  border-radius: 5px;
  padding: 40px;
}
.tours-text-container{
  padding: 20px;
  margin-left: -50px;
}
.forum{
  display: none;
  margin-left: 30%;
}
.forum-events{
  display: none;
  padding: 20px;
  width: 198%;
}
.forum-tours{
  display: none;
}
.forum-container{
  border: solid thin;
  padding: 30px;
}
.collapsible-body{
  background-color: #fff;
}
.nav-wrapper{
  background-color: transparent !important;
}
nav{
  background-color: transparent !important;
  border: none;
}
.container{
  background-color: #ffffff;
}
.shows{
  width: 75%;
  margin-left: 100px;
}
.forum-container{
  width: 50%;
}
.icon{
  width: 100px;
  height: 100px;
}
.submit-event{
  margin-left: -200px;
}
.venue-name{
  font-size: 25px;
}
.merch-container{
  /*margin-left: 200px;*/

  width: 100%;
  padding: 20px;
}
.logo{
  margin-left: 20px;
}
.shirt-column{
  text-align: center;
  padding: 20px;
  margin-top: -60px;
  width: 100%;
  height: 30%;
}
.shirt-name{
  margin-top: -20px;

}

@media screen and (max-width: 699px) and (min-width: 220px) {
    h2 {
        font-size: 36px;
    }
    .venue-name{
        font-size: 20px;
    }
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
