/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
	background-image: url(http://i.imgur.com/zdfgVgK.jpg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;

}
h1{
  font-family: 'Roboto', sans-serif;
}
h2{
  text-align: center;
  color: white;
}
h8{
  font-size: 20px;
}
#hidebutton{
  display: none;
  position: absolute;
}
.login-container{
  text-align: center;
  width: 50%;
  float: center;
  margin-left: 25%;
  background-color: #212121;
  border: 2px solid;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.3)

}

.forum{
  display: none;
  margin-left: 30%;
}
.forum-events{
  display: none;
  margin-left: 30%;
}
.forum-tours{
  display: none;
}
.forum-container{
}
.collapsible-body{
  background-color: #fff;
}
.nav-wrapper{
  background-color: #212121;
}
.container{
  background-color: #ffffff;
}
.shows{
  width: 75%;
  margin-left: 100px;
}
.forum-container{
  width: 50%;

}
.submit-event{
  margin-left: -200px;
}
.venue-name{
  font-size: 25px;
}
.merch-container{
  margin-left: 200px;
}
.logo{
  margin-left: 20px;
}
.shirt-container{
  border: solid;
  border-width: 1px;

}

@media screen and (max-width: 699px) and (min-width: 220px) {
    h2 {
        font-size: 36px;
    }
    .venue-name{
        font-size: 20px;
    }
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
